<% title "Ad" %>

<p>
  <strong>Sponsor:</strong>
  <%=h @ad.sponsor %>
</p>
<p>
  <strong>Product Name:</strong>
  <%=h @ad.product_name %>
</p>
<p>
  <strong>Video Length:</strong>
  <%=h @ad.video_length %>
</p>

<p>
  <%= link_to "Edit", edit_ad_path(@ad) %> |
  <%= link_to "Destroy", @ad, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ads_path %>
</p>
