
<div id="login_box">
	
	<% form_for :session, :url => session_path do |form| %>
	<table>
	  <tr class="text_field">
	    <td><%= form.label :email %></td>
	    <td><%= form.text_field :email %></td>
	  </tr>
	  <tr class="text_field">
	    <td><%= form.label :password %></td>
	    <td><%= form.password_field :password %></td>
	  </tr>
	  <tr class="submit_field">
	    <td><%= form.submit "Sign in", :disable_with => "Please wait..." %></td>
	  </tr>
	</table>
	<% end %>

	<ul style="float: right;">
	  <li>
	    <%= link_to "Sign up", new_user_path %>
	  </li>
	  <li>
	    <%= link_to "Forgot password?", new_password_path %>
	  </li>
	</ul>
	<div class="clear"></div>
</div>
