<%= form.error_messages %>

<table>
	<tr class="username_field">
		<td><%= form.label :username %></td>
 		<td><%= form.text_field :username %></td>
 	</tr>
	<tr class="address_field">
 		<td><%= form.label :address %></td>
 		<td><%= form.text_field :address %></td>
 	</tr>
	<tr class="phone_field">
  		<td><%= form.label :phone %></td>
  		<td><%= form.text_field :phone %></td>
	</tr>
	<tr class="text_field">
  		<td><%= form.label :email %></td>
  		<td><%= form.text_field :email %></td>
	</tr>
	<tr class="password_field">
    	<td><%= form.label :password %></td>
  		<td><%= form.password_field :password %></td>
	</tr>
	<tr class="password_field">
  		<td><%= form.label :password_confirmation, "Confirm password" %></td>
  		<td><%= form.password_field :password_confirmation %></td>
	</tr>
	<tr class="invitation_token_field">
  		<td><%= form.label :invitation_token %></td>
 		<td><%= form.text_field :invitation_token %></td>
	</tr>
	<tr class="avatar_field">
		<td><%= form.label :avatar %></td>
		<td><%= form.file_field :avatar %></td>
	</tr>
</table>
