<div id="user_bar">
<% if signed_in? %>
  <p>Welcome <%= current_user.email %> (<%= link_to 'Logout', sign_out_path %>)</p>
  <% if current_user.invitation_limit > 0 %>
    <p>
      <%= link_to 'Send invitation', new_invitation_path %>
      (<%= current_user.invitation_limit %> left)
    </p>
  <% end %>
<% else %>
  <p>If you have an account, <%= link_to "Login", sign_in_path %>.</p>
  <p>Or if you have an invitation code, <%= link_to "Sign up", sign_up_path %>
<% end %>
</div>
