<% title @user.username %>
<% for asset in @user.assets %>
	<%= image_tag asset.file.url %>
<% end %>

<p><%= image_tag @user.avatar.url(:small) %></p>
<% if session[:user_id] == @user.id %>
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
<% end %>