<% title @user.email %>

<p><%= image_tag @user.avatar.url(:small) %></p>
<p>
  <%= link_to "My Photos", user_photos_path(@user) %> |
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
