
<% title "#{@user.username}'s Private Images" %>
<div id="user_info">
	<table class="user_information">
		<tr>
			<td><%= image_tag @user.avatar.url(:small) %></td>
			<td class="user_name"><%= @user.username %></td>
		</tr>
	</table>
</div>
	Photos:
  <% for photo in @user.photos %>
    <tr>
      <td><%=h photo.user_id %></td>
	  <td><%= image_tag photo.photo.url %></td>
      <td><%= link_to "Show", photo_path(photo) %></td>
    </tr>
  <% end %>
<br />
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>

</p>
